---
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<'posts'>;
const post = Astro.props;
let date = post.data.lastmod;
if (post.data.hide?.includes('lastmod') && post.data.date) {
	date = post.data.date;
	if (post.data.hide?.includes('date')) {
		date = undefined;
	}
}
---

<div class="my-5 flex flex-col gap-4 xl:flex-row">
	<div class="flex grow flex-col gap-4">
		<h2 class="text-4xl">
			<a href={`/posts/${post.slug}`} aria-label={`Read post: ${post.data.title}`}>
				{post.data.title}
			</a>
		</h2>
		<p class="text-lg">{post.data.description}</p>
		<div class="text-neutral-500 dark:text-neutral-400">
			{
				date && (
					<time class="mr-5" datetime={date.toISOString()}>
						{date.toLocaleDateString()}
					</time>
				)
			}
			{
				(!post.data.hide || !post.data.hide.includes('tags')) &&
					post.data.tags?.map((tag) => (
						<a
							class="mr-2 hover:text-neutral-900 dark:hover:text-neutral-100"
							href={`/tags/${tag}/1`}
							aria-label={`More posts of tag ${tag}`}
						>
							{tag}
						</a>
					))
			}
		</div>
	</div>
	{
		post.data.image && (
			<Picture
				class="mr-4 max-w-full rounded-lg xl:max-w-sm"
				src={post.data.image}
				formats={['avif', 'webp']}
				alt={`hero image for ${post.data.title}`}
			/>
		)
	}
</div>
<hr />
